SBG_MARKING_DB_NAME=sbg_marking
SBG_MARKING_DB_USER=postgres
SBG_MARKING_DB_PASSWORD=postgres
SBG_MARKING_DB_PORT=5432
SBG_MARKING_DB_URL=jdbc:postgresql://localhost:5432/sbg_marking
SBG_MARKING_AUTH_ENABLED=false
SBG_MARKING_AUTH_ADMIN_TOKEN=
SBG_MARKING_AUTH_OPERATOR_TOKEN=
